/* set the general color scheme */
* {
    background-color: #2a2e32; /* dark background */
    color: #fff; /* white text */
}

QLabel {
    background-color: rgba(255, 255, 255, 0);
}
/* buttons */
QPushButton {
    background-color: #3f4348; /* Darker grey for buttons */
    color: #fff; /* White text */
    border-radius: 8px;
    padding: 5px 10px; /* Padding inside buttons */
}

QPushButton:hover {
    background-color: #666;
}

QPushButton:pressed {
    background-color: #777;
}

QHeaderView::section {
    background-color: #3f4348;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
}

QPushButton:checked {
    background-color: #777;
}
QSpinBox {
    background-color: #1b1e20;
}

QLineEdit {
    border-radius: 8px;
    background-color: #1b1e20;
}

QTextEdit {
    background-color: #1b1e20;
}

/* QListWidget */
QListWidget {
    background-color: #1b1e20; /* Assuming you want a grey background for the list */
    alternate-background-color: #2a2a2a; /* Darker grey for alternate items */
    border-radius: 15px; /* Rounded corners for the QListWidget itself */
    border: 1px solid #333; /* Optional border */
}

/* QListWidget items */
QListWidget::item {
    background-color: #333; /* Same as general background for items */
    color: #fff; /* White text */
}

/* QListWidget alternating colors */
QListWidget::item:alternate {
    background-color: #1b1e20; /* Slightly lighter grey for alternate items */
}

/* QListWidget item */
QListWidget::item:selected {
    background-color: #1e90ff; /* Blue selection color */
    color: #fff;
}


/* scroll area */
QScrollArea, QScrollBar {
    background-color: #333; /* Same as general background */
}

QMenu {
    margin: 4px; /* Spacing between items */
}

/* Qmenu */
QMenu::item {
    padding: 5px 20px; /* Padding for the text */
    border-radius: 8px;
}

QMenu::item:selected {
    background-color: #1e90ff; /* Blue selection color */
    color: #fff;
}
