/* Set the general color scheme */
* {
    background-color: #2a2e32; /* Dark background */
    color: #fff; /* White text */
}

/* Style the buttons */
QPushButton {
    background-color: #3f4348; /* Darker grey for buttons */
    color: #fff; /* White text */
    border-radius: 15px; /* Rounded corners */
    padding: 5px 10px; /* Padding inside buttons */
}

QPushButton:hover {
    background-color: #666; /* Slightly lighter grey on hover */
}

QPushButton:pressed {
    background-color: #777; /* Even lighter grey when pressed */
}

/* Style for QListWidget */
QListWidget {
    background-color: #1b1e20; /* Assuming you want a grey background for the list */
    alternate-background-color: #2a2a2a; /* Darker grey for alternate items */
    border-radius: 15px; /* Rounded corners for the QListWidget itself */
    border: 1px solid #333; /* Optional border */
}

/* Style for QListWidget items */
QListWidget::item {
    background-color: #333; /* Same as general background for items */
    color: #fff; /* White text */
}

/* Style for alternate QListWidget items for the striped effect */
QListWidget::item:alternate {
    background-color: #1b1e20; /* Slightly lighter grey for alternate items */
}

/* Style for a selected QListWidget item */
QListWidget::item:selected {
    background-color: #1e90ff; /* Blue selection color */
    color: #fff;
}


/* Style the scroll area */
QScrollArea, QScrollBar {
    background-color: #333; /* Same as general background */
}

/* Additional styles can be added for other widgets as needed */
